.account {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 100px;
  gap: 24px;
}

.profile {
  background-color: var(--card);
  padding: 40px;
  width: 300px;
  border: 1px solid var(--border);
  border-radius: 24px;
}

.account .actions {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.account .actions h3 {
  margin: 12px 0;
}

.account .actions_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .account {
    flex-direction: column;
    align-items: center;
  }
}
