header {
  margin-bottom: 60px;
}

h1 {
  text-align: center;
}

section {
  margin-bottom: 60px;
  padding: 0 16%;
}

.competitions-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.competitions-slider_current {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.competitions-slider_current img {
  opacity: 0.6;
  border-radius: 18px;
}

.competitions-slider_current h3 {
  position: absolute;
  bottom: 0;
  left: 24px;
}

.competitions-slider .dots {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.competitions-slider .dot {
  width: 20px;
  height: 20px;
  background-color: var(--card);
  border-radius: 99999px;
}

.competitions-slider .dot-active {
  background-color: var(--primary);
}

.competitions-slider .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 99999px;
  font-size: 32px;
  font-weight: 800;
}

.competitions-slider .arrow-left {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.competitions-slider .arrow-right {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.login {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: var(--card);
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 400px;
}

.about-us .information {
  width: 400px;
}

.about-us .information b {
  color: var(--primary);
}

.about-us img {
  border-radius: 12px;
  width: 50%;
}

.hello {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  background-color: var(--card);
}

.hello video {
  border-radius: 12px;
  width: 50%;
}

.competitions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.competitions table {
  width: 100%;
  text-align: center;
}

.competitions table img {
  object-fit: cover;
}

.competitions .tb_desctiption {
  width: 400px;
  text-align: left;
}

.competitions .tb_photo img {
  width: 300px;
  aspect-ratio: 1;
  border-radius: 12px;
}

.search-competitions {
  padding: 80px 0;
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 60px;
}

.reviews_data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 12px;
  justify-content: center;
}

.review_top {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
}

.accept {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 40px 0;
  background-color: var(--card);
  display: flex;
  justify-content: space-evenly;
}

footer .footer-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer .footer-col a {
  color: var(--foregound-muted);
}
