.registration {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: fit-content;
  padding: 20px;
  margin: auto;
}

.registration form {
  flex-direction: row;
  width: fit-content;
}

.registration .form_col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.registration .form_submit {
  margin-top: auto;
}

.upload-photo {
  width: 260px;
  height: 100px;
  border: 1px dashed var(--border);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .registration form {
    flex-direction: column;
  }
}
