@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #5385e9;
  --background: #0a0a0a;
  --foreground: #eaeaea;
  --foregound-muted: #aeaeae;
  --card: #171717;
  --card-light: #212121;
  --card-light-hover: #262626;
  --border: #4a4a4a;
  --is-dark: 1;

  scroll-behavior: smooth;

  --pink: #b72db7;
  --green: #31a311;
  --yellow: #afa125;
  --orange: #d76b31;
  --blue: #3e8ded;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--foreground);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

header {
  display: block;
  top: 0;
  position: sticky;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
}

header svg {
  width: 36px;
  aspect-ratio: 1;
  stroke: var(--foreground);
}

header nav {
  display: flex;
  gap: 4px;
}

header nav a {
  border-radius: 4px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 600;
}

header nav a:hover {
  background: var(--card-light);
}

.menu {
  display: none;
}

.menu img {
  filter: invert(var(--is-dark));
}

h1 {
  font-size: 36px;
  color: var(--primary);
}

h2 {
  font-size: 28px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

input,
select {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 32px;
  width: 260px;
  border-radius: 8px;
  padding: 0;
  outline: none;
  font-size: 14px;
  border: 1px solid var(--border);
  background-color: var(--card-light);
  color: var(--foregound);
  padding-block: 4px;
  padding-inline: 12px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: auto;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(var(--is-dark));
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(var(--is-dark));
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  height: 32px;
  width: 260px;
  color: var(--foregound);
  padding-block: 4px;
  padding-inline: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--card-light);
  font-weight: 600;
  font-size: 14px;
}

button:hover {
  background-color: var(--card-light-hover);
}

.btn-sm {
  height: 32px;
  width: auto;
}

.btn-ghost {
  background: inherit;
  color: var(--foreground);
  border: none;
}

.btn-ghost:hover {
  background-color: var(--card-light);
}

.btn-inverse {
  background-color: var(--foreground);
  color: var(--background);
}

form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 260px;
  background-color: var(--card);
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--border);
}

form h3 {
  margin: 0 0 16px 0;
  color: var(--primary);
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action_label {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: var(--card);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 99999px;
  object-fit: cover;
  background-color: var(--card-light);
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid var(--border);
}

.avatar_card {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: start;
}
.error {
  color: #e53232;
  font-size: 14px;
  font-weight: 600;
}

.accordion-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  color: var(--foregound);
  border-radius: 99999px;
  font-size: 32px;
  font-weight: 800;
  flex-shrink: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found {
  background-color: var(--card);
  padding: 40px;
  border-radius: 12px;
  border: 1px solid var(--border);
  max-width: 400px;
  text-align: center;
}

.for-print {
  display: none;
}

@media print {
  .for-print {
    display: block;
  }
}

@media (max-width: 1024px) {
  .menu {
    display: block;
  }

  header nav {
    display: none;
  }

  h1 {
    font-size: 32px;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}
