@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #5075bf;
  --background: #0f0f0f;
  --foreground: #eaeaea;
  --foregound-muted: #aeaeae;
  --interactive: #1b1b1b;
  --card: #2e2e2e;
  --card-hover: #505050;
  --border: #4a4a4a;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

header {
  height: 50px;
  background: var(--card);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header svg {
  width: 36px;
  aspect-ratio: 1;
  stroke: var(--foreground);
}

header nav {
  display: flex;
  gap: 4px;
}

header nav a {
  border-radius: 4px;
  padding: 12px;
}

header nav a:hover {
  background: var(--card-hover);
}

h1 {
  font-size: 36px;
  color: var(--primary);
}

h2 {
  font-size: 28px;
}

h3 {
}

h4 {
}

h5 {
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  height: 32px;
  width: 260px;
  border-radius: 8px;
  padding: 0;
  outline: none;
  font-size: 16px;
  border: 1px solid var(--border);
  background-color: var(--interactive);
  color: var(--foregound);
  padding-block: 4px;
  padding-inline: 12px;
}

button {
  cursor: pointer;
  height: 32px;
  width: 260px;
  color: var(--foregound);
  padding-block: 4px;
  padding-inline: 12px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background-color: var(--interactive);
}

.btn-sm {
  height: 32px;
  width: auto;
}

.btn-inverse {
  background-color: var(--foreground);
  color: var(--background);
}

form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

form h2 {
  margin-bottom: 8px;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action_label {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: var(--card);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 99999px;
  object-fit: cover;
}
