.schedule {
  padding: 100px 20%;
  width: 900px;
  overflow-x: scroll;
}

.schedule_table {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  row-gap: 16px;
  position: relative;
  width: 900px;
}

.schedule_table::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 1px solid var(--border);
  background: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent calc(100% / 12 - 1px),
    var(--border) calc(100% / 12 - 1px),
    var(--border) calc(100% / 12)
  );
  pointer-events: none;
  z-index: 5;
}

.col-label {
  text-align: center;
  width: 60px;
}

.row {
  height: 60px;
  font-weight: 600;
  display: grid;
  justify-items: center;
  position: relative;
}

.row h4 {
  position: absolute;
  top: 4px;
  left: 4px;
  margin: 0;
  z-index: 10;
}

.row .count_slots {
  height: 72px;
  width: 72px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 12px;
}

.row .count_slots-empty {
  background-color: var(--card-light) !important;
  border: 1px solid var(--border);
}

.row-1 {
  grid-column: 2 / 9;
  grid-template-columns: repeat(7, 1fr);
  grid-row: 2;
}

.row-1 .count_slots {
  background-color: var(--pink);
}

.row-2 {
  grid-column: 1 / 4;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 3;
}

.row-2 .count_slots {
  background-color: var(--green);
}

.row-3 {
  grid-column: 6 / 12;
  grid-template-columns: repeat(6, 1fr);
  grid-row: 4;
}

.row-3 .count_slots {
  background-color: var(--yellow);
}

.row-4 {
  grid-column: 4 / 12;
  grid-template-columns: repeat(8, 1fr);
  grid-row: 5;
}

.row-4 .count_slots {
  background-color: var(--orange);
}

.row-5 {
  grid-column: 1 / 13;
  grid-template-columns: repeat(12, 1fr);
  grid-row: 6;
}

.row-5 .count_slots {
  background-color: var(--blue);
}

@media (max-width: 1024px) {
  .schedule {
    padding: 40px;
  }
}
